
table{
    font-family: 'Times New Roman', Times, serif;
    width: 80%; /* Đặt chiều rộng bảng */
    margin: 0 auto; /* Căn giữa bảng */
    background-color: #a6cfaf; /* Màu nền của bảng */
    border-collapse: collapse;
    border: 4px double #555; /* Viền bảng */
  
}

/* Căn giữa tiêu đề và định dạng */
th{
    text-align: center;
    padding: 10px;
    font-size: 26px;
    background-color: white; 
    color: #20a9b0; 
}

/* Định dạng các ô dữ liệu trong bảng */
td {
    padding: 8px;
    border: 1px solid #555; /* Viền ô */
}

/* Căn giữa hàng chứa nút "Đồng ý" */
.submit-row {
    text-align: center;
}

/* Định dạng nút "Đồng ý" */
input[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
